body{
    height:auto;
    width:auto;
    text-align:center;
}
ul{
    list-style-type:none;
}

.header{
    display:flex;
    flex-direction:row;
    height:150px;
    
    }
.logo{
    flex-basis:250px;
    background:brown;
   
}
.other__space{
    background:cadetblue;
    flex-basis:75%;
    }

.main{
    display:flex;
    flex-direction:row;
    height:550px;
    justify-content:center;
    justify-content:space-around;
      

}

.main__left{
    background:azure;
    flex-basis:300px;
    
}

.main__right{
    background:chocolate;
    flex-basis:300px;
    
}

.main__center{
    background:blueviolet;
    flex-basis:50%
    

}

.footer{
    display:flex;
    flex-direction:row;
    height:50px; 
    justify-content:center;   
    
}
.footer li{
    flex-basis: 25%;
}
.footer__item--green{
    background:green;
    }
.footer__item--yellow{
    background:yellow;
    
}
.footer__item--red{
    background:red;
    
}
.footer__item--blue{
    background:blue;
    
}